/*
0 - 300px: tiny
0 - 600px: phone
600 - 900px: tablet-portrait
900 - 1200px: tablet-land
(1200 -1800p) - desktop/normal styles
1200px + : Large Desktop

em conversion
300/16px = 19.375
600/16px = 37.5em
900/16px = 56.25em tab-port
1200/16px = 75em
1800/16px = 112.5em

Order: Reset + typography >>> general layout + grid > page layout > components

*/
.mleft-sm {
  margin-left: 6rem;
}

.mleft-md {
  margin-left: 9rem;
}

.mleft-lg {
  margin-left: 12rem;
}

.mright-sm {
  margin-right: 6rem;
}

.mright-md {
  margin-right: 9rem;
}

.mright-lg {
  margin-right: 12rem;
}

.mtop-sm {
  margin-top: 6rem;
}

.mtop-md {
  margin-top: 9rem;
}

.mtop-lg {
  margin-top: 12rem;
}

.mtop-xl {
  margin-top: 15rem;
}

.mbot-tiny {
  margin-bottom: 1.5rem;
}

.mbot-xs {
  margin-bottom: 3rem;
}

.mbot-sm {
  margin-bottom: 6rem;
}

.mbot-md {
  margin-bottom: 9rem;
}

.mbot-lg {
  margin-bottom: 12rem;
}

.mbot-xl {
  margin-bottom: 15rem;
}

.ptb-tiny {
  padding: 1.5rem 0;
}

.ptb-xs {
  padding: 3rem 0;
}

.ptb-sm {
  padding: 6rem 0;
}

.ptb-md {
  padding: 9rem 0;
}

.ptb-lg {
  padding: 12rem 0;
}

.ptb-xl {
  padding: 15rem 0;
}

@media (max-width: 56.25em) {
  .mleft-sm {
    margin-left: 3rem;
  }

  .mleft-md {
    margin-left: 6rem;
  }

  .mleft-lg {
    margin-left: 9rem;
  }

  .mright-sm {
    margin-right: 3rem;
  }

  .mright-md {
    margin-right: 6rem;
  }

  .mright-lg {
    margin-right: 9rem;
  }

  .mtop-sm {
    margin-top: 3rem;
  }

  .mtop-md {
    margin-top: 6rem;
  }

  .mtop-lg {
    margin-top: 9rem;
  }

  .mtop-xl {
    margin-top: 12rem;
  }

  .mbot-tiny {
    margin-bottom: 0.5rem;
  }

  .mbot-xs {
    margin-bottom: 1.5rem;
  }

  .mbot-sm {
    margin-bottom: 3rem;
  }

  .mbot-md {
    margin-bottom: 6rem;
  }

  .mbot-lg {
    margin-bottom: 9rem;
  }

  .mbot-xl {
    margin-bottom: 12rem;
  }

  .ptb-tiny {
    padding: 0.5rem 0;
  }

  .ptb-xs {
    padding: 1.5rem 0;
  }

  .ptb-sm {
    padding: 3rem 0;
  }

  .ptb-md {
    padding: 6rem 0;
  }

  .ptb-lg {
    padding: 9rem 0;
  }

  .ptb-xl {
    padding: 12rem 0;
  }
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
}

.logo--text {
  font-family: "Pacifico", cursive;
  color: #f6f6f6;
  font-size: 3rem;
}
.logo--text .span {
  color: #47d1cc;
}
@media (max-width: 37.5em) {
  .logo--text {
    font-size: 2rem;
  }
}

.hero-heading {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 7rem;
}
@media (max-width: 56.25em) {
  .hero-heading {
    font-size: 5rem;
  }
}
@media (max-width: 37.5em) {
  .hero-heading {
    font-size: 3rem;
  }
}

.hero-tagline {
  font-size: 2.5rem;
}
@media (max-width: 56.25em) {
  .hero-tagline {
    font-size: 2rem;
  }
}
@media (max-width: 37.5em) {
  .hero-tagline {
    font-size: 1.6rem;
  }
}

.heading-primary--main {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 300;
}
@media (max-width: 56.25em) {
  .heading-primary--main {
    font-size: 3rem;
  }
}
@media (max-width: 37.5em) {
  .heading-primary--main {
    font-size: 2.5rem;
  }
}

.heading-section {
  font-size: 2.5rem;
  font-weight: 300;
}

.bold {
  font-weight: 700;
}

.icon-laptop {
  font-size: 7.5rem;
  color: rgba(51, 51, 51, 0.8);
}

.footer-heading {
  color: #f6f6f6;
}

.copyright {
  font-size: 1.6rem;
  color: rgba(246, 246, 246, 0.8);
}
@media (max-width: 56.25em) {
  .copyright {
    font-size: 1.4rem;
  }
}
@media (max-width: 37.5em) {
  .copyright {
    font-size: 1.2rem;
  }
}

.heading-form,
.form-label-text,
.form-text {
  color: #fff;
}

.heading-form {
  font-size: 4rem;
}

.form-label-text {
  font-size: 1.8rem;
}

.bg-video {
  position: absolute;
  float: left;
  top: 0;
  left: 0;
  height: 80vh;
  opacity: 0.6;
  z-index: -1;
}

.tech-figure-caption {
  position: relative;
  font-size: 1.6rem;
  display: inline-block;
  width: 100%;
  background-color: #ccc;
}

.figcaption {
  width: 100%;
  height: 20%;
  background: #ccc;
  position: absolute;
  bottom: 0%;
  left: 0;
  color: #333;
  font-size: 1.6rem;
  border-top: 1px solid rgba(51, 51, 51, 0.6);
}
.figcaption--text {
  position: absolute;
  bottom: 5%;
  border: 1px solid rgba(51, 51, 51, 0.6);
  background-color: #ccc;
  color: #333;
}

.logo-bar {
  position: relative;
  height: calc(13rem * .45);
  background-color: #333;
}
.logo-bar .logo {
  display: inline-block;
  position: absolute;
  top: calc(calc(13rem * .45) * .15);
  left: 10%;
}
.logo-bar .logo-icons {
  display: inline-block;
  position: absolute;
  top: calc(calc(13rem * .45)* .15);
  right: 20%;
}

.icons {
  text-decoration: none;
}
.icons--item {
  list-style-type: none;
  display: inline-block;
}
.icons--item:not(:last-child) {
  margin-right: 3rem;
}
.icons .fas,
.icons .fab {
  color: #f6f6f6;
}

.section--hero {
  text-align: center;
}
.section--hero::after {
  content: "";
  display: table;
  clear: both;
}
.section--hero--img {
  position: relative;
  height: 85vh;
  overflow: hidden;
}
.section--hero--text {
  width: 80%;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  color: #333;
}

.nav--item {
  list-style-type: none;
  float: left;
  margin-right: 3rem;
  padding-top: 2rem;
}
.nav--link:link, .nav--link:visited {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  color: #333;
  padding-bottom: 2rem;
}
@media (max-width: 37.5em) {
  .nav--link:link, .nav--link:visited {
    font-size: 1.2rem;
    padding: 1rem 0;
  }
}
.nav--link:hover, .nav--linkactive {
  color: #47d1cc;
  border-bottom: 0.1rem solid #47d1cc;
}

.logo--container-template {
  background-color: #333;
  color: white;
  font-size: 2.8rem;
}

.logo--row--template {
  text-align: center;
}
@media (max-width: 56.25em) {
  .logo--row--template {
    margin: 1rem 1.5rem;
  }
}
@media (max-width: 37.5em) {
  .logo--row--template {
    margin: 0.5rem 1.3rem;
  }
}

.nav--container--template {
  color: #333;
  width: 90vw;
}
@media (max-width: 56.25em) {
  .nav--container--template {
    display: none;
  }
}

.mobile-search-container {
  display: flex;
  justify-content: center;
}

.hero--container--template {
  background: linear-gradient(to bottom, rgba(246, 246, 246, 0.8), rgba(51, 51, 51, 0.8)), url("../img/coverr-lago.jpg");
  color: white;
  font-size: 5rem;
  height: 90vh;
}
@media (max-width: 56.25em) {
  .hero--container--template {
    height: 60vh;
  }
}
@media (max-width: 37.5em) {
  .hero--container--template {
    height: 50vh;
  }
}

.search-bar {
  display: flex;
  flex-flow: row nowrap;
}

.mobile-nav-container {
  display: none;
}
@media (max-width: 56.25em) {
  .mobile-nav-container {
    background: #fff;
    color: #333;
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 1rem 1.5rem;
  }
}
@media (max-width: 37.5em) {
  .mobile-nav-container {
    margin: 1rem 1.3rem;
  }
}

.container--template {
  background-color: #ccc;
  padding: 2rem;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
}

.container--marketing {
  padding: 1rem;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
}

.container--gallery {
  padding: 1rem;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
}
@media (max-width: 56.25em) {
  .container--gallery {
    padding: 1rem 0;
  }
}

.container--template--form {
  padding: 2rem;
  display: flex;
  flex-flow: column wrap;
}

.container--template--footer {
  padding: 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: center;
}
@media (max-width: 56.25em) {
  .container--template--footer {
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
  }
}

.row--template {
  background-color: powderblue;
  padding: 3rem;
  border: 0.1rem solid #333;
  margin: 3rem;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 56.25em) {
  .row--template {
    padding: 2rem 0;
    margin: 2rem 0;
  }
}

.row--marketing {
  margin: 2rem 0 0 3rem;
}

.row--template--footer {
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-flow: column wrap;
  align-content: space-evenly;
  width: 23%;
}
@media (max-width: 56.25em) {
  .row--template--footer {
    width: 80%;
  }
}

.item {
  padding: 1rem;
  background-color: plum;
  margin: 3rem;
}

.item--marketing {
  width: 26%;
  padding: 1rem;
  margin: 3rem;
}
@media (max-width: 56.25em) {
  .item--marketing {
    width: 75%;
  }
}

.item-template--footer {
  padding: 1rem 0;
}

@media (max-width: 56.25em) {
  .footer-bottom {
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
  }
}

.center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.space-around {
  justify-content: space-around;
}

.space-evenly {
  justify-content: space-evenly;
}

.footer-top {
  background-color: #5d5d5d;
  width: 100%;
  color: #f6f6f6;
}

.footer-bottom {
  background-color: #333;
  width: 100%;
  color: #f6f6f6;
}

@media (max-width: 56.25em) {
  .copyright {
    padding: 1rem;
    text-align: center;
  }
}

.search-input {
  border: 1px solid rgba(211, 211, 211, 0.8);
  border-radius: 0.2rem;
}

.mobile-nav-checkbox {
  display: none;
}
.mobile-nav .mobile-nav-item {
  list-style-type: none;
}
.mobile-nav-checkbox:not(:checked) ~ .mobile-nav-list {
  display: none;
}

.mobile-search-container {
  padding-bottom: 2rem;
}
.mobile-search-input {
  border: 1px solid rgba(211, 211, 211, 0.8);
  width: 80%;
  border-radius: 5%;
  padding: 0.5rem;
}
.mobile-search-btn {
  font-size: 1.5rem;
  color: rgba(211, 211, 211, 0.8);
}

.hero-home {
  padding-top: 18%;
}

.hero-tagline {
  display: inline-block;
  width: 70%;
  text-align: center;
}
@media (max-width: 56.25em) {
  .hero-tagline {
    width: 95%;
  }
}

.marketing--section {
  text-align: center;
  padding-top: 4rem;
}
.marketing-header {
  margin-bottom: 0;
}

.gallery--section {
  background-color: #ccc;
}

.section--form {
  margin: 3rem auto;
  padding: 4rem;
  background: linear-gradient(top right, #7bd9e8 0%, #207cca 49%, #2989d8 50%, #1e5799 100%);
  background: -webkit-linear-gradient(top right, #7bd9e8 0%, #207cca 49%, #2989d8 50%, #1e5799 100%);
  background: -moz-linear-gradient(top right, #7bd9e8 0%, #207cca 49%, #2989d8 50%, #1e5799 100%);
}

.form--home-page--contact-us {
  width: 100%;
}

@media (max-width: 56.25em) {
  .mobile-nav-list {
    width: 100%;
    padding: 0.7rem 1rem;
    margin-left: 1rem;
  }

  .mobile-nav-search {
    display: none;
  }

  .search-bar {
    display: flex;
    flex-flow: row nowrap;
  }
}

/*# sourceMappingURL=main.css.map */
