.mleft-sm
{
    margin-left: 6rem; //the container--template padding + row--template padding
}
.mleft-md
{
    margin-left: 9rem; //the container--template padding + row--template padding
}
.mleft-lg
{
    margin-left: 12rem; //the container--template padding + row--template padding
}
.mright-sm
{
    margin-right: 6rem; //the container--template padding + row--template padding
}
.mright-md
{
    margin-right: 9rem; //the container--template padding + row--template padding
}
.mright-lg
{
    margin-right: 12rem; //the container--template padding + row--template padding
}
.mtop-sm
{
    margin-top: 6rem; //the container--template padding + row--template padding
}
.mtop-md
{
    margin-top: 9rem; //the container--template padding + row--template padding
}
.mtop-lg
{
    margin-top: 12rem; //the container--template padding + row--template padding
}
.mtop-xl
{
    margin-top: 15rem; //the container--template padding + row--template padding
}
.mbot-tiny
{
    margin-bottom: 1.5rem; //the container--template padding + row--template padding
}
.mbot-xs
{
    margin-bottom: 3rem; //the container--template padding + row--template padding
}
.mbot-sm
{
    margin-bottom: 6rem; //the container--template padding + row--template padding
}
.mbot-md
{
    margin-bottom: 9rem; //the container--template padding + row--template padding
}
.mbot-lg
{
    margin-bottom: 12rem; //the container--template padding + row--template padding
}
.mbot-xl
{
    margin-bottom: 15rem; //the container--template padding + row--template padding
}
