.hero{}
.marketing
{
    text-align: center;
    margin-bottom: $gutter-bottom-sm;
    .heading-section
    {
        background-color: plum;
        display: inline-block;
    }
}
.gallery{}
.cta{}
.form{}