.header,
.main,
.footer
{
    width: 100%;
}

.hero-home
{
    //max-width: 96rem;
    //text-align: center;
    //margin: 0 auto;
    padding-top: 18%;
}
.hero-tagline
{
    display: inline-block;
    width: 70%;
    //border: 1px solid black;
    text-align: center;
    //margin: 0 auto;

    @include respon(tab-port)
    {
        width: 95%;
    }
}
.marketing
{
    &--section
    {
        text-align: center;
        padding-top: 4rem;
    }
    &-header
    {
        margin-bottom: 0;
    }
}

.gallery--section
{
    // width: 100%;
    background-color: #ccc;
}

.section--form
{
    width: 100%;
    background-color: #ffffff; 
}

@include respon(tab-port)
{

    .mobile-nav-list
    {
        //border: 1px solid black;
        width: 100%;
        padding: .7rem 1rem;
        margin-left: 1rem;
    }
    .mobile-nav-search
    {
        display: none;
        //visibility: hidden;
        //border: 1px solid black;
    }
    .search-bar
    {
        display: flex;
        flex-flow: row nowrap;
    }
}