
.container
{
    display: flex;
    flex-flow: column wrap;
    align-content: space-around; //may need to remove and set max-width???
    margin-bottom: 6rem;
}
[class^="row"]
{
    align-content: space-between;
    background-color: #333;

    &:not(:last-child)
    {
        margin-bottom: 6rem;
    }
}
.row__space-around
{
    display: flex;
    justify-content: space-around;
    

    
}
.row__space-between
{
    display: flex;
    justify-content: space-around;
    

}
.row__center
{
    display: flex;
    justify-content: center;
    
}
.row__end
{
    display: flex;
    justify-content: flex-end;
    
}
.item
{
    padding: 10rem;
    background-color: plum;
    
    &:not(:last-child)
    {
        margin-right: 3rem;
    }
}