
.container
{
    display: flex;
    flex-flow: column wrap;
    //align-content: space-around; //may need to remove and set max-width???
    margin-bottom: 6rem;
}
[class^="row__"]
{
    flex-wrap: wrap;
    align-content: space-between;
    background-color: #333;

    &:not(:last-child)
    {
        margin-bottom: 6rem;
    }
}
.row__space-around
{
    display: flex;
    justify-content: space-around;  
}
.row__space-between
{
    display: flex;
    justify-content: space-around;
    

}
.row__center
{
    display: flex;
    justify-content: center;
    
}
.row__end
{
    display: flex;
    justify-content: flex-end;
    
}
.item
{
    padding: 2rem;
    background-color: plum;
    margin: 3rem;
    
    &:not(:last-child)
    {
        //margin-right: 3rem;
    }
}
//remove
.item--marketing
{
    width: 25%;
}
//header
.logo--container-template
{
    background-color: #333;
    color: white;
    font-size: 2.8rem;
    display: flex;
    justify-content: space-between;
}
.logo--row--template
{
    border: .1rem solid white;
}
.nav--container--template
{
    background-color: #fff;
    color: #333;
    font-size: 2.5rem;
    display: flex;
    justify-content: space-between;
}
.nav--row--template
{
    border: .1rem solid white;
}
.hero--container--template
{
    background-color: royalblue;
    display: flex;
    color: white;
    font-size: 5rem;
    flex-flow: column wrap;

}
//main
.container--template
{
    background-color: #ccc;
    padding: 2rem;
    display: flex;

    flex-flow: column wrap;
    align-content: center;
}
.row--template
{
    background-color: powderblue;
    padding: 3rem;
    border: .1rem solid #333;
    margin: 3rem; 

    //control rows within row
    display: flex;
    flex-wrap: wrap;
}
.center
{
    justify-content: center;

}
.space-between
{
    justify-content: space-between;
}
.flex-end
{
    justify-content: flex-end;
}
.space-around
{
    justify-content: space-around;
}
.space-evenly
{
    justify-content: space-evenly;
}
.mleft-sm
{
    margin-left: 6rem; //the container--template padding + row--template padding
}
.mleft-md
{
    margin-left: 9rem; //the container--template padding + row--template padding
}
.mleft-lg
{
    margin-left: 12rem; //the container--template padding + row--template padding
}
.mright-sm
{
    margin-right: 6rem; //the container--template padding + row--template padding
}
.mright-md
{
    margin-right: 9rem; //the container--template padding + row--template padding
}
.mright-lg
{
    margin-right: 12rem; //the container--template padding + row--template padding
}