.container
{
    //background-color: green;
    color: white;
    border: 1px solid black;
    //text-align: center;
}
.container-fluid
{
    //background-color: gold;
    //color: white;
    border: 1px solid black;
    //text-align: center;
}
.row
{
    //background-color: khaki;
    //color: black;
    //text-align: center;
    border: 1px solid black;
}
// div[class^="col"]
// {
//     //background-color: blueviolet;
//     //border: 1px solid black;
//     //padding: 2rem 0;
//     text-align: center;
// }
div[class^="col-"]
{
    //background-color: blueviolet;
    border: 1px solid black;
}