.hero
{
    position: relative;
    margin-bottom: $gutter-bottom-sm;
    text-align: center;

    @include clearfix;
    &--img
    {
        position: relative;
        height: 80vh;
        overflow: hidden;
    }
    &--text
    {
        width: 80%;
        display: inline-block;
        //background-color: plum;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-transform: uppercase;
        color: $color-black;
    }
} 