.section--hero
{

    text-align: center;

    @include clearfix;
    &--img
    {
        position: relative;
        height: 85vh;
        overflow: hidden;
    }
    &--text
    {
        width: 80%;
        display: inline-block;
        //background-color: plum;
        //position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-transform: uppercase;
        color: $color-black;
    }
} 