.icons
{
    text-decoration: none;

    &--item
    {
        list-style-type: none;
        display: inline-block;
        
        &:not(:last-child)
        {
            margin-right: $gutter-right-sm;
        }
    }
    .fas,
    .fab
    {
        color: $color-white;
    }
}
        