.icon-group
{
    &--list
    {
        list-style-type: none;
    }
    &--item
    {
        display: inline-block;
        
        &:not(:last-child)
        {
            margin-right: 2rem;
        }
    }
}


.icons
{
    text-decoration: none;

    &--item
    {
        list-style-type: none;
        float: left;
        
        &:not(:last-child)
        {
            margin-right: $gutter-right-sm;
        }
    }
    .fas,
    .fab
    {
        color: $color-white;
    }
}
        