.logo-bar
{
    position: relative;
    height: 10vh;
    .logo
    {
        font-family: 'Pacifico', cursive;
        color: $color-white;

        //background-color: plum;
        display: inline-block;
        position: absolute;
        top: 10%;
        left: 15%;

        .span
        {
            color: $color-aqua;
        }
    }
    .logo-icons
    {
        //background-color: plum;
        display: inline-block;
        position: absolute;
        top: 10%;
        right: 20%;
        
    }
}