.logo-bar
{
    position: relative;
    height: $logo-bar-height;

    background-color: $color-black;
    .logo
    {

        //background-color: plum;
        display: inline-block;
        position: absolute;
        top: calc(#{$logo-bar-height} * .15);
        left: 10%;

    }
    .logo-icons
    {
        //background-color: plum;
        display: inline-block;
        position: absolute;
        top: calc(#{$logo-bar-height}* .15);
        right: 20%;
        
    }
}