.nav
{ 
  &--item
  {
    list-style-type: none;
    float: left;

    margin-right: $gutter-right-sm;
  }
  &--link
  {
      &:link,
      &:visited
      {
          display: inline-block;
          text-decoration: none;
          text-transform: uppercase;
          font-size: 1.6rem;
          color: $color-black;
      }

      &:hover,
      &active
      {
          color: $color-aqua;
          border-bottom: .1rem solid $color-aqua;
      }
  }
} 