body
{
    font-family:'Roboto', sans-serif;
}
.logo--text
{
    font-family: 'Pacifico', cursive;
    color: $color-white;
    font-size: 3rem;

    .span
    {
        color: $color-aqua;
    }

    @include respon(phone)
    {
        font-size: 2rem;
    }
}
// .logo-icons
// {
//     font-size: 3rem;

//     @include respon(tab-port)
//     {
//         font-size: 2.5rem;
//     }
//     @include respon(phone)
//     {
//         font-size: 2rem;
//     }
// }
// .heading-primary
// {
//     font-size: 6rem;
//     font-weight: 300;
// }
.hero-heading
{
    text-transform: uppercase;
    font-weight: 300;
    font-size: 7rem;

    @include respon(tab-port)
    {
        font-size: 5rem;
    }
    @include respon(phone)
    {
        font-size: 3rem;
    }
}
.hero-tagline
{
    font-size: 2.5rem;

    @include respon(tab-port)
    {
        font-size: 2rem;
    }

    @include respon(phone)
    {
        font-size: 1.6rem;
    }
}
.heading-primary--main
{
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 300;

    @include respon(tab-port)
    {
        font-size: 3rem;
    }
    @include respon(phone)
    {
        font-size: 2.5rem;
    }
}
.heading-section
{
    font-size: 2.5rem;
    font-weight: 300;
}
.bold
{
    font-weight: 700;
}
.icon-laptop
{
    font-size: 7.5rem;
    color: rgba($color-black, .8);
}
.footer-heading
{
    color: $color-white;
}
.copyright
{
    font-size: 1.6rem;
    color: rgba($color-white, .8);

    @include respon(tab-port)
    {
        font-size: 1.4rem;
    }
    @include respon(phone)
    {
        font-size: 1.2rem;
    }
}
.heading-form,
.form-label-text,
.form-text
{
    color: #fff;
}
.heading-form
{
    font-size: 4rem;
}
.form-label-text
{
    font-size: 1.8rem;
}